<!DOCTYPE html>
<html>

<head>
    <title>Home - Student Result Management</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <img src="/images/logo.png" alt="Logo" class="logo">

    <h1 class="home-title">Welcome to Student Result Management System</h1>

    <div class="container" style="text-align: center;">
        <p>This system allows students to view their results and administrators to manage them.</p>

        <div class="btn-row">
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
            <a href="http://localhost:5001" target="_blank"><button>Admin</button></a>

        </div>
    </div>
</body>

</html>